 {% extends 'Player/base.html' %}

 {% load widget_tweaks %}

 {% block content %}
 <div class="d-flex justify-content-center">
    <div class="card my-4 w-50">
        <h4 class="card-header text-center py-3">
            <strong> Sign up </strong>
        </h4>
        <form action="" method="post" >
            <div class="card-body ">
                {% csrf_token %}
                <div class="{% if form.non_field_errors %}invalid{% endif %}">
                    {% for error in form.non_field_errors %}
                        Unexpected form error
                    {% endfor %}
                </div>
                {% for field in form %}
                <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                        {% if field == form.username %}
                                            <i class="fa fa-user"></i> 
                                        {% elif field == form.email %}
                                            <i class="fa fa-envelope"></i>
                                        {% elif field == form.password %}
                                            <i class="fa fa-key"></i>
                                        {% endif %} 
                                </span>
                            </div>
                            {% render_field field class="form-control" placeholder=field.label %}
                        </div>
                        <div class="{% if form.field_errors %} invalid{% endif %}">
                            {% for error in field.errors %}
                                <p class="help-block"> {{ error }} </p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %} 
            </div>
            <div class="card-footer">
                <button class="submit-btn btn btn-primary" type="submit"> Submit </button> 
            </div> 
        </form>
    </div>
</div>
{% endblock %}